#Added in 1.2.4 for location variables
tzlocal
# Core dependencies
python-dotenv
requests
pydub
python-docx
docx2pdf
pdf2docx
faster-whisper
ollama
pypandoc
pywin32
uuid
gradio
# For Gemini API
google-generativeai
# For PDF handling
PyPDF2
# For typing (if needed)
typing-extensions
